<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pagina Principal</title>
	
 	<!-- Bootstrap CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/dataTables.bootstrap5.min.css}" rel="stylesheet">  
	<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}" rel="stylesheet">
	<link th:href="@{/resources/css/bootstrap-icons.css}" rel="stylesheet">
	
	<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
		
	<style>
		.modal-header{
		color:#fff;
		background: #428bca;
		display: flex;
  		justify-content: center;  		
		}
		.help-block {
		  		color: red;
		}
		.form-group.has-error .form-control-label {
		  color: red;
		}
		.form-group.has-error .form-control {
		  border: 1px solid red;
		  box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
		}
		.alertify .ajs-dialog {
		    top: 50%;
		    transform: translateY(-50%);
		    margin: auto;
		}
		.ajs-header{
			background-color: #286090 !important;
			color: white !important;
			/*text-align: center;*/
			font-size: 18px;
			font-weight: bold;
		}
		.ajs-ok{
			color: #fff;
		    background-color: #007bff;
		    border-color: #007bff;
		}
		.ajs-cancel{
			color: #fff;
		    background-color: #dc3545;
		    border-color: #dc3545;
		}
		.fondoNav{
			background-color: #009439;
			border-bottom: 0px;
		}
		.fondoNav .estilo-nav{
			margin-top: 10px;
		}
		.fondoNav .estilo-nav a{
			color: white;
		}
		.fondoNav .estilo-nav > ul > li > a{
			color: black;
		}
		.fondoNav .estilo-nav-2{
			width: 65%;
		}
		.card-body{
			margin: 0px auto;			
		}
		.card-title{
			text-align: center;
		}
		.titulo{
			margin-bottom: 40px;
		}
		.afiliados{
			padding: 20px;
		}
		footer > div > div > div > ul > li > a{
			text-decoration: none;
			color: white;
		}
		footer > div > div > div > h5{
			color: #bfb2b2;
		}
		
		.row{
			margin-right: 0px !important;
		}
		.tamanio{
			font-size: 13px;
			color: #adb5bd;
		}
		.tamanio span{
			font-size: 18px;
		}
		.tamanio22{
			font-size: 22px;
		}
		
		.styleRowViaje{
			margin-bottom: 20px;
		}
		.styleViaje{
			margin-bottom: 40px;
			border: 1px solid #d0cece;
			padding: 20px;
			border-radius: 20px;
		}
	</style>	 
</head>
<body>
	<ul class="nav nav-tabs fondoNav">
		<li class="nav-item">
			<a class="nav-link" aria-current="page" href="dashboard"><img src="/resources/imagenes/bus.jpg" width="50px" alt="logo"></a>
		</li>
		<li class="nav-item estilo-nav-2">			
		</li>
		<li class="nav-item dropdown estilo-nav">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Corporativo</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Ingresar</a></li>
			</ul>
		</li>
		<li class="nav-item estilo-nav">
			<a class="nav-link" href="../viaje/lista">Ayuda</a>
		</li>
		<li class="nav-item estilo-nav">
			<a class="nav-link" href="#">Cancelacion</a>
		</li>
		<li class="nav-item dropdown estilo-nav">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
				<i class="bi bi-file-person"></i>
			</a>
			<ul class="dropdown-menu">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
							sesión</a></li>
			</ul>
		</li>
		
	</ul>
	<div class="busqueda">
		<br><br>				
		<div class="row">
			<form id="formBusqueda" action="buscar" method="post" class="row g-3">
				<div class="col-md-12 row buscador">				
					<div class="form-group col-md-1"></div>
				    <div class="form-group col-md-3">
				    	<label for="validationCustomUsername" class="form-label fw-bold">Origen</label>
				    	<div class="input-group has-validation">
				      		<select class="form-select form-control" name="origen" id="idOrigen">
					  			<option value=" ">[Seleccione Origen]</option>
					  			<option  th:each="row:${departamentos1}"
					  					th:utext="${row.nombre}"
					  					th:value="${row.codigo}"/>
							</select>
				    	</div>
				  	</div>
					<div class="form-group col-md-3">
						<label for="validationCustomUsername" class="form-label fw-bold">Destino</label>
				    	<div class="input-group has-validation">
				      		<select class="form-select form-control" name="destino" id="idDestino">
					  			<option value=" ">[Seleccione Destino]</option>
					  			<option  th:each="row:${departamentos2}"
					  					th:utext="${row.nombre}"
					  					th:value="${row.codigo}"/>
							</select>
				    	</div>
				    </div>
					<div class="form-group col-md-3">
						<label for="validationCustomUsername" class="form-label fw-bold">Fecha</label>
					    <div class="input-group has-validation">
					    	<span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-calendar-date"></i></span>
							<i class="fas fa-calendar-week form-control-feedback2"></i>
							<input type="date" style="background-color:#aed6f1" class="form-control" name="fecha" id="idFecha" placeholder="DD/MM/AAAA" autocomplete="off" >
						</div>
					</div>
					<div class="form-group col-md-1">
						<button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> BUSCAR</button>					
					</div>	
					<div class="form-group col-md-1"></div>				    		
				<div class="col-md-2"></div>
			</form>
		</div>
	</div>			
	<div class="container">	
		<br>	
		<div class="card-body" >
			<div class="row">
				<div class="col-md-1"></div>
				
				<div class="col-md-4" id="codOrigen" style="display: none"><span th:text="${codOrigen}"></span></div>
				<div class="col-md-4" id="codDestino" style="display: none"><span th:text="${codDestino}"></span></div>
				<div class="col-md-2" id="codFecha" style="display: none"><span th:text="${fechaViaje}"></div>
				<div class="col-md-1"></div>				
			</div>
			<br/>
			<div class="row">
				<div class="col-md-1"></div>
				
				<div class="col-md-3"><b><span th:text="${viajes.size()}"></span><span> Buses<span></b> encontrados</div>
				<div class="col-md-1">SALIDA</div>
				<div class="col-md-1">DURACION APROX.</div>
				<div class="col-md-1">LLEGADA</div>
				<div class="col-md-2">PRECIO</div>
				<div class="col-md-2">ASIENTOS DISPONIBLES</div>
				
				<div class="col-md-1"></div>
			</div>	
			<br>		
			<div class="styleViaje" th:each="bean:${viajes}">
				<div class="row styleRowViaje">
					<div class="col-md-1"></div>
					<div class="col-md-3"><h4 th:text="${bean.bus.registro}"></h4>
											<span class="tamanio">BUS CAMA</span></div>
					<div class="col-md-1"><h4 th:text="${#strings.substring(bean.fechaPartida, 11,16)}"></h4>
										<span class="tamanio" th:text="${bean.ruta.terminalOrigen.nombres}"></span></div>
					<div class="col-md-1 tamanio"><span th:text="${#numbers.formatInteger(bean.ruta.tiempoRuta/60,2)}"></span>h 
											<span th:text="${#numbers.formatInteger(bean.ruta.tiempoRuta % 60,2)}"></span>m</div>											
					<div class="col-md-1"><h4 th:text="${#strings.substring(bean.fechaLlegada, 11,16)}"></h4>
										<span class="tamanio" th:text="${bean.ruta.terminalDestino.nombres}"></span></div>
					<div class="col-md-2">Desde<br>
										S/ <span class="tamanio22" th:text="${bean.ruta.precio}"></span></div>
					<div class="col-md-2"><span class="tamanio22" th:text="${bean.bus.ctdAsientos}"></span> asientos <br>disponibles</div>
					<div class="col-md-1"></div>												
				</div>	
				<div class="row">
					<div class="col-md-6"></div>		
					<div class="col-md-6">Servicios | Fotos | Terminal de salida y llegada | <button type="submit" class="btn btn-danger btn-ver-asientos"> VER ASIENTOS</button>
						<h1 style="display:none" th:text="${bean.bus.codigo}"></h1><h2 style="display:none" th:text="${bean.codigo}"></h2>
					</div>
				</div>									
		    </div>				
  		</div>		
	</div>    
	
	<!-- Footer -->
	<footer class="bg-light text-center ">
		<!-- Copyright -->
		<div class="text-center p-3 row" style="background-color: #009439; color: white; margin-right: 0px;">
	  		<div class="col-md-3">© 2022 Copyright: Proyecto DAW I</div>
			<div class="col-md-5 row">
				<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
		        	<h5 class="text-uppercase">Acerca de</h5>
					<ul class="list-unstyled mb-0">
		            	<li><a href="#!">Sobre nosotros</a></li>
		            	<li><a href="#!">Contáctanos</a></li>
		          	</ul>
		        </div>
		        <!--Grid column-->
		
		        <!--Grid column-->
		        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
		        	<h5 class="text-uppercase">Info</h5>
		
		        	<ul class="list-unstyled mb-0">
		            	<li><a href="#!">Terminos y Condiciones</a></li>
		            	<li><a href="#!">Preguntas Frecuentres</a></li>
		            	<li><a href="#!">Libro de Reclamaciones</a></li>
		          	</ul>
		        </div>
		        <!--Grid column-->
			</div>  	  	 
	  		<div class="col-md-4">
		    	<!-- Facebook -->
		  	  	<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="bi bi-facebook"></i></a>
				
		      	<!-- Twitter -->
		      	<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="bi bi-twitter"></i></a>
		
				<!-- Google -->
				<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="bi bi-google"></i></a>
				
				<!-- Instagram -->
				<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="bi bi-instagram"></i></a>
				
				<!-- Github -->
				<a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="bi bi-github"></i></a>
			</div>
	  	</div>
	  	<!-- Copyright -->
	</footer>
	<!-- Footer -->
	
	
	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>

	<!-- JS para la tabla -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<!--JS para validar  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	
	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script> 
	
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>
	
	
	<script>
		$(function() {
				$('#usr1').datepicker({
					'format': 'yyyy-mm-dd',
					'autoclose': true
				});		
			});
	</script>

	<script>
		$(document).ready(function () {
			let codOrigen = $("#codOrigen").find("span").text();
			let codDestino = $("#codDestino").find("span").text();
			let codFecha = $("#codFecha").find("span").text();
			
			$("#idOrigen").val(codOrigen);
			$("#idDestino").val(codDestino);			
			$("#idFecha").val(codFecha);								    		    
		});
		
		$(document).on("click",".btn-editar",function(){
			let cod=$(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?codigo="+cod,function(response){
				console.log(response);
				$("#idCodigo").val(response.codigo);
				$("#idRegistro").val(response.registro);
				$("#idCantidad").val(response.ctdAsientos);
				$("#idMarca").val(response.marca);
				$("#idModelo").val(response.modelo);
			})			
		})		
		
		//asignar evento click a todos los botones con nombre de clase "btn-eliminar"
		$(document).on("click",".btn-eliminar",function(){
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			registro=$(this).parents("tr").find("td")[1].innerHTML;
			alertify.confirm("Seguro de eliminar el bus "+cod+": "+registro+"?",
			  function(){
			    window.location="eliminar?codigo="+cod;
			  },
			  function(){
			    alertify.error('Cancel');
			  });
		})		
		
		
		$(document).on("click",".btn-ver-asientos",function(){	debugger;
			let origen = $("#idOrigen").find('option:selected').text();
			let destino = $("#idDestino").find('option:selected').text();
			let fecha = $("#codFecha").find("span").text();
			
			let codBus = $(this).parent().find("h1").text();
			let codViaje = $(this).parent().find("h2").text();
			//console.log(origen+" "+destino)
			window.location="ventaPasaje?codBus="+codBus+"&codViaje="+codViaje+"&origen="+origen+"&destino="+destino+"&fecha="+fecha;			
		})
	</script>		
</body>
</html>









